<h1>New Recipe</h1>
<form method="POST" action='/recipes'>

    <label>Recipe name:<input type="text" name="name"></label><br>
    <label>Ingredients:<input type="text" name="ingredients"></label><br>
    <label>Cook time:<input type="text" name="cook_time"></label><br>
    <input type="submit">

</form>