<form action="/recipes/new" method="post">
<p>Recipe Name: <input type="text" name="name"></p>
<p>Recipe Ingredients: <input type="text" name="ingredients"></p>
<p>Recipe Cooktime: <input type="integer" name="cook_time"></p>
<input type="submit">
</form>