<h1><%= @recipe.name %></h1>
<p><b>Ingredients: </b><%= @recipe.ingredients %></p>
<p><b>Cook Time: </b><%= @recipe.cook_time %></p>
<form action="/recipes/<%= @recipe.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete">
</form>